:root {
  --padding-sides: 15vw; /* Боковые отступы */
  --gap-between-blocks: 5vh; /* Расстояние между блоками */
}

@font-face {
  font-family: "DRUZHOK";
  src: url("/Font/DRUZOK.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
}

header {
  text-align: center;
}

.logo img {
  max-height: 4.75rem; /* Относительная высота лого */
}

.menu-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem; /* Расстояние между пунктами меню */
  margin-top: 0rem;
}

.menu-item {
  font-size: 1rem;
  text-decoration: none; /* Убирает подчеркивание */
  color: black;
}

/* Hover-эффекты для заголовков меню */
.menu-item:hover {
  color: #521917; /* Темный цвет текста */
  transition: all 0.3s ease; /* Плавный переход */
  transform: scale(1.1); /* Увеличение текста */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Тень для текста */
  cursor: pointer; /* курсор */
}

.brand {
  font-family: "DRUZHOK", serif;
  font-size: 2rem;
  font-weight: 600;
}

.main-content {
  display: flex;
  gap: 0%; /* Расстояние между блоками */
  padding: 0 var(--padding-sides);
  margin-bottom: var(--gap-between-blocks);
}

.image-block {
  flex: 1 1 50%; /* Относительные размеры блока изображения */
  height: 60vh; /* Высота блока */
  overflow: hidden;
}

.image-block img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-block {
  flex: 1 1 24%; /* Относительные размеры текстового блока */
  padding: 10vh 4vw 7vh;
  background-color: #e1ddd6;
}

.text-block h2 {
  font-size: 1.2rem; /* Относительный размер заголовка */
  font-weight: 600;
  line-height: 1.3;
}

.text-block p {
  font-size: 0.9rem; /* Относительный размер текста */
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
  line-height: 1.5;
}

.button {
  display: inline-block;
  border: 0.125rem solid black;
  padding: 0.625rem 1rem;
  font-size: 0.9rem;
  text-align: center;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.button:hover {
  background-color: black;
  color: white;
}

/*2 раздел*/
.section-header {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: var(--gap-between-blocks);
}

.extra-block {
  flex: 1 1 24%; /* Относительные размеры текстового блока */
  padding: 15vh 4vw 7vh;
  background-color: #521917;
  color: white;
}

.extra-block h2 {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0;
  line-height: 1.3;
}

.extra-block p {
  font-size: 0.9rem;
  margin-bottom: 2.5vh;
  line-height: 1.5;
}

.extra-block .button {
  border: 0.125rem solid white;
  color: white;
}

.extra-block .button:hover {
  background-color: white;
  color: #521917;
}

/*	4 раздел	*/
.block-4 {
  display: flex;
  justify-content: center; /* Выравнивание контейнера по центру */
}

.content-container-4 {
  display: flex;
  justify-content: center; /* Центрирование содержимого */
  gap: 0; /* Убираем промежутки между блоками */
  max-width: 100%; /* Контейнер будет только настолько широк, насколько нужно */
}

.image-block-4,
.text-block-4 {
  width: 16.2rem; /* Фиксированная ширина для всех блоков */
  height: 16.2rem; /* Фиксированная высота для всех блоков */
  background-size: cover;
  background-position: center;
}

.text-block-4 {
  background-color: #521917;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Размещаем элементы в колонку */
  color: white;
  text-align: center;
}

.text-block-4 .line {
  width: 8rem; /* Ширина линии */
  height: 0.1rem; /* Высота линии */
  background-color: white;
  margin: 0.2rem 0; /* Отступы между линиями и текстом */
}

/* футер */
.footer-section {
  height: 17rem; /* Высота футера */
  background-color: #521917;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15rem; /* Боковые отступы */
  margin: 2.5rem auto 0; /* Отступ сверху и центрирование */
}

/* Левая часть футера */
.footer-left {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* Отступ между элементами */
}

.footer-left p {
  font-size: 1.125rem; /* 18px */
  line-height: 1.5;
  margin: 0;
}

.social-icons {
  display: flex;
  gap: 0.625rem; /* 10px */
}

.social-icons img {
  width: 2.125rem; /* 34px */
  height: 2.125rem;
}

/* Центр футера */
.footer-center {
  display: flex;
  align-items: center;
  gap: 0.625rem; /* 10px */
  text-align: center;
}

.footer-logo {
  width: 3.125rem; /* 50px */
}

.footer-title {
  font-family: "DRUZHOK", serif;
  font-size: 2rem; /* 32px */
}

/* Правая часть футера */
.footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem; /* Отступ между элементами */
}

.subscribe-form {
  display: flex;
}

.email-input {
  width: 10.5rem; /* 168px */
  height: 2.75rem; /* 44px */
  border: 1px solid white;
  background-color: transparent;
  color: white;
  font-size: 1rem; /* 16px */
  padding: 0 0.625rem; /* 10px */
  box-sizing: border-box;
}

.email-input::placeholder {
  color: #ffffff;
}

.subscribe-button {
  width: 6.6875rem; /* 107px */
  height: 2.75rem;
  background-color: white;
  color: black;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

/* Копирайт */
.footer-copyright {
  font-size: 1.125rem; /* 18px */
  text-align: right;
}
